body {
    
    background-color: rgb(82, 79, 94);

    color: aliceblue;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: large;
    font-weight: bold;
    
    text-align: center;
    text-transform: capitalize;
    

}

header {

    color: black !important;
}

.cabezera {
    background-color: aliceblue;
    border-radius: 10px;
    text-transform: uppercase;

}

.navegation {
    background-color: aliceblue;
    border-radius: 10px;
}
.navegation > ul {
    display: flex;
    gap: 10px;

    list-style-type: none;

}

.navegation ul li {

}

.navegation > ul li a {
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(82, 79, 94);
    color: aliceblue;
}

.post {
    background-color: aliceblue;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;

}

.post > h2{
    color: black;
    text-decoration: underline;

}

.post > p {
    color: black;
}