body {
    
    background-color: rgb(82, 79, 94);

    color: aliceblue;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: large;
    font-weight: bold;
    
    text-align: center;
    text-transform: capitalize;
    

}